<?xml version="1.0"?>
  <configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <!-- deny all files and folder -->
    <location>
      <system.web>
        <authorization>
          <deny users="*"/>
        </authorization>
      </system.web>
    </location>

    <!-- allow wwwroot folder to be public -->
    <location path="wwwroot">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    
    <system.webServer>
      <!-- this is used so the allows/denies are working -->
      <modules>
        <remove name="UrlAuthorization" />
        <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"  />
      </modules>
      
      <!-- redirect all requests to index.html -->
      <rewrite>
        <rules>
          <rule name="redirect all requests" stopProcessing="true">
            <match url="^(.*)$" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
            </conditions>
            <action type="Rewrite" url="/wwwroot/index.html" appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>