/// <reference path="../_variables.scss" />

nav.navbar {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #EEE;
    overflow: hidden;

    .navbar-left {
        float: left;
    }
    
    .brand {
        display: block;
        padding: 15px 0;
        line-height: 20px;
        font-size: 18px;
        text-decoration: none;
        color: $primary-color;

        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
}

.navbar-margin {
    padding-top: 60px;
}
