<!DOCTYPE html>
<html lang="en" ng-app="demo-app" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo Angular</title>

    <base href="/" />

    <!-- vendor css -->
    <!-- include: "type": "css", "files": "<%= vendorsCss %>" -->

    <!-- app css -->
    <!-- include: "type": "css", "files": "<%= appCss %>" -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div ui-view></div>

    <!-- vendor -->
    <!-- include: "type": "js", "files": "<%= vendorsJs %>" -->

    <!-- app -->
    <!-- include: "type": "js", "files": "<%= appJs %>" -->
</body>
</html>