/// <reference path="../_variables.scss" />

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.btn-primary {
    color: #333;
    background-color: $grey-200;
    
    &:hover {
        background-color: darken($grey-200, 10%);
    }

    &:active {
        background-color: darken($grey-200, 20%);
    }
}
