/// <reference path="../_variables.scss" />

input[type=text] {    
    font-size: 14px;
    line-height: 18px;

    outline: none;

    border: 0;
    border-bottom: 1px solid #EEE;

    &:focus {
        border-color: $primary-color;
    }
}

.input-block {
    width: 100%;
}

.input-big {
    font-size: 18px!important;
    line-height: 24px!important;
}
