.note-edit {
    input[type=text] {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 18px;
        line-height: 24px;
        outline: none;
        border: 0;
        border-bottom: 1px solid #EEE;
    }
}


.note-toolbar {
    margin-bottom: 10px;
}

.note-btn-group {
    display: inline-block;
}

.note-btn-group:not(:last-child) {
    margin-right: 3px;
}

button.note-btn {
    position: relative;
    background-color: #f5f5f5;
    border: none;
    padding: 10px;
    color: #a9a9a9;

    &:hover {
        color: #212121;
    }

    &.active {
        color: #212121;
    }

    &:hover:after {
        content: attr(title);
        position: absolute;
        left: 0;
        top: 100%;
        padding: 4px 8px;
        color: white;
        background: #727272;
        z-index: 30;
        white-space: nowrap;
        border-radius: 4px;
    }
}

/* TODO: in own file! */
/* overriding the default styles */
.ta-editor {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #EEE;
}

.ta-scroll-window {
    outline: none !important;
}
